<?xml version="1.0"?>
<Events>
    <Event id="newPlate">
        <Name>New Plate Alert/Trigger</Name>
        <ConfigUI>
            <Field id="deviceID" type="menu">
                <Label>Select Device:</Label>
                <List class="indigo.devices" filter="self"/>
            </Field>
        </ConfigUI>
	</Event>

</Events>